.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    height: 100%;
}

.dialogsItem {
    padding: 20px;
    background-color: rgb(117, 149, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.dialogsItem a {
    text-decoration: none;
    color: black;
}

.dialogsItem :hover {
    color: rgb(190, 205, 255);
}

.dialogsItem a.activeLink {
    color: white;
}

.dialog {
    margin: 10px;
}

.messages {
    padding: 20px;
    background-color: rgb(190, 205, 255);
}

.massage {

}